# Block
CONFIG_ZRAM_DEF_COMP_LZ4=y

# Clang
CONFIG_LTO_CLANG=y

# Compiler
CONFIG_FRAME_WARN=0

# Filesystems
CONFIG_EXFAT_FS=y
# CONFIG_SDCARD_FS is not set

# IRQ
CONFIG_IRQ_SBALANCE=y
CONFIG_IRQ_SBALANCE_POLL_MSEC=20000
CONFIG_IRQ_SBALANCE_THRESH=1024
CONFIG_SBALANCE_EXCLUDE_CPUS="3,7"

# Memory Management
CONFIG_ANDROID_SIMPLE_LMK=y
CONFIG_ANDROID_SIMPLE_LMK_MINFREE=256
CONFIG_ANDROID_SIMPLE_LMK_TIMEOUT_MSEC=150
CONFIG_KSM=y
# CONFIG_MEMCG is not set
# CONFIG_PSI is not set

# Misc
# CONFIG_ARM64_SW_TTBR0_PAN is not set
CONFIG_FAKE_UNAME_5_10=y
# CONFIG_LOCALVERSION is not set

# Networking
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"
CONFIG_TCP_CONG_BIC=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_TCP_CONG_WESTWOOD=n
CONFIG_NET_SCH_DEFAULT=y
CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_FQ_CODEL=y

# Persistent store
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y

# QCOM
# CONFIG_QTI_CPU_ISOLATE_COOLING_DEVICE is not set

# Scheduler
CONFIG_BIG_CPU_MASK=240
# CONFIG_CPU_BOOST is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
# CONFIG_CPU_FREQ_TIMES is not set
# CONFIG_IPC_LOGGING is not set
CONFIG_LITTLE_CPU_MASK=15
CONFIG_SCHED_CASS=y
# CONFIG_SCHED_CORE_CTL is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SCHED_TUNE is not set
# CONFIG_SCHED_WALT is not set
CONFIG_UCLAMP_BUCKETS_COUNT=20
CONFIG_UCLAMP_TASK=y
CONFIG_UCLAMP_TASK_GROUP=y

# Android 17 requirements
CONFIG_AS_IS_LLVM=y
CONFIG_HIDRAW=y
CONFIG_RD_LZ4=y
CONFIG_SECURITYFS=y
